{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}
    <div class="container">
        <button class="back-button" onclick="window.location.href='{{ url_for('index') }}'">Povratak</button>
        {% if file_url.endswith(('.png', '.jpg', '.jpeg')) %}
            <img src="{{ file_url }}" alt="Image">
        {% elif file_url.endswith(('.mp4', '.webm', '.avi', '.mov')) %}
            <video controls>
                <source src="../main/uploads/result.avi" type="video/avi">
            </video>
        {% else %}
            <p>Unsupported file type.</p>
        {% endif %}
    </div>
{% endblock %}

