{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}
    <div class="container" style="text-align: center">
        <button class="back-button" onclick="window.location.href='{{ url_for('index') }}'">Povratak</button>
        {% if file_url.endswith(('.png', '.jpg', '.jpeg')) %}
            <img src="{{ file_url }}" alt="Image">
        {% elif file_url.endswith(('.mp4', '.webm', '.avi', '.mov')) %}
        <div class="download-button" style="text-align: center; ">
            <button>
                <a href="/download-video" download="result.avi">Preuzmi videozapis</a>
            </button>
        </div>
        {% else %}
            <p>Unsupported file type.</p>
        {% endif %}
    </div>
{% endblock %}

