{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}
    <div class="container" style="text-align: center">
        <h2>Sustav za detekciju vozila</h2>
        <form id="uploadForm" method="post" class="form" enctype="multipart/form-data">
            <input type="file" id="fileInput" name="file" accept=".mp4, .mov, .avi, .webm, .jpg, .png, .jpeg" required>
            <input type="submit" id="submitButton" style="display: none" value="Evaluiraj">
            <input type="submit" id="countButton" style="display: none" value="Prebroji">
        </form>
    </div>
{% endblock %}

